<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>
        <div th:fragment="footer" class="site-footer">
            <link rel="stylesheet" th:href="@{/css/footer.css}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h6>About</h6>
                        <p class="text-justify">CODE ONE FLY ANYWHERE ANYTIMES WE GET HIGH TOUCH THE SKY FULL OF CORONA VIRUS BYE BYE</p>
                    </div>
<!--
                    <div class="col-xs-6 col-md-3">
                        <h6>Categories</h6>
                        <ul class="footer-links">
                            <li><a href="http://scanfcode.com/category/c-language/">JAVA</a></li>
                            <li><a href="http://scanfcode.com/category/front-end-development/">SPRING</a></li>
                            <li><a href="http://scanfcode.com/category/back-end-development/">MySQL</a></li>
                            <li><a href="http://scanfcode.com/category/java-programming-language/">Docker</a></li>
                            <li><a href="http://scanfcode.com/category/android/">JS</a></li>
                            <li><a href="http://scanfcode.com/category/templates/">Thymeleaf</a></li>
                        </ul>
                    </div>-->

<!--                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="http://scanfcode.com/about/">About Us</a></li>
                            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                        </ul>
                    </div>-->
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
                            <a href="#">Faber Airlines</a>.
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fab fa-twitter-square"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>   
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>