<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Booking - Search Flight</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container pt-5" style="padding-bottom: 13rem">
                <div class="card search-card">
                    <div class="card-body search-content">
                        <form action="#" th:action="@{/booking/select/flight}" th:object="${bookingInfo}"
                              method="post" id='form-flight-search'>
                            <div class="card-title"><h5>Departing flight</h5>
                                <h6 th:text="${bookingInfo.departureLocation + ' to ' + bookingInfo.arrivalLocation}"></h6>
                                <h6 th:text="${#dates.format(new java.util.Date(bookingInfo.departureDate),'dd-MM-yyyy')}"></h6></div>
                            <div class="row row-spacing">
                                <table class="table table-striped table-responsive-md">
                                    <tbody>
                                        <tr th:each="item : ${departingSeats}">
                                            <td><br/><input type="radio" th:field="*{departingTrip}" th:value="${item}" /></td>
                                            <td><p class='mb-0' th:text="${#dates.format(new java.util.Date(item?.flight?.departureTime),'hh:mm')}"/><p th:text="${item?.flight?.departureAirport?.name + ' - ' + item?.flight?.departureAirport?.location}"/></td>
                                            <td><br/><i class="fas fa-plane"></i></td>
                                            <td><p class='mb-0' th:text="${#dates.format(new java.util.Date(item?.flight?.arrivalTime),'hh:mm')}"/><p th:text="${item?.flight?.arrivalAirport?.name + ' - ' + item?.flight?.arrivalAirport?.location}"/></td>
                                            <td><p class='mb-0' th:text="${'Adult: ' + item?.adultPrice + ' (VND)'}"/><p class='mb-0' th:text="${'Children: ' + item?.childPrice + ' (VND)'}"/><p class='mb-0' th:text="${'Infant: ' + item?.infantPrice + ' (VND)'}"/></td>
                                        </tr>
                                    </tbody>
                                </table>                                
                                <!--                                    end departing flight table-->
                            </div>
                            <div class="card-title"><h5>Returning flight</h5>
                                <h6 th:text="${bookingInfo.arrivalLocation + ' to ' + bookingInfo.departureLocation}"></h6>
                                <h6 th:text="${#dates.format(new java.util.Date(bookingInfo.returnDate),'dd-MM-yyyy')}"></h6></div>
                            <div class="row row-spacing">
                                <table class="table table-striped table-responsive-md">
                                    <tbody>
                                        <tr th:each="item : ${returningSeats}">
                                            <td><br/><input type="radio" th:field="*{returningTrip}" th:value="${item}" /></td>
                                            <td><p class='mb-0' th:text="${#dates.format(new java.util.Date(item?.flight?.departureTime),'hh:mm')}"/><p class='mb-0' th:text="${item?.flight?.departureAirport?.name + ' - ' + item?.flight?.departureAirport?.location}"/></td>
                                            <td><br/><i class="fas fa-plane"></i></td>
                                            <td><p class='mb-0' th:text="${#dates.format(new java.util.Date(item?.flight?.arrivalTime),'hh:mm')}"/><p th:text="${item?.flight?.arrivalAirport?.name + ' - ' + item?.flight?.arrivalAirport?.location}"/></td>
                                            <td><p class='mb-0' th:text="${'Adult: ' + item?.adultPrice + ' (VND)'}"/><p class='mb-0' th:text="${'Children: ' + item?.childPrice + ' (VND)'}"/><p class='mb-0' th:text="${'Infant: ' + item?.infantPrice + ' (VND)'}"/></td>
                                        </tr>
                                    </tbody>
                                </table>                                
                                <!--                                    end returning flight table-->
                            </div>                            
                        </form>
                    </div>
                </div>
                <script>
                    
                </script>
            </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>

    </script>
</html>
